
body, {
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}

div {
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

.container {
  text-align: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}  

.box {
  text-align: center;
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

.ticket {
  text-align: center;
  margin-top: 100px;
  padding-bottom: 50%;
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

input[id="in"]{
display:none;
}

.input {
  text-align: center;
  background-color: #222222; 
  font-size: 5rem; 
  font-family: 'TT2020BaseRegular'; 
  font-weight: 800; 
  font-style: normal; 
  color: #ffffff;
  border-style: none;
}