
body, {
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}


.container {
  text-align: center;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #222222;
  font-size: 1.5rem;
  font-family: 'TT2020BaseRegular';
  font-weight: 800;
  font-style: normal;
  color: #ffffff;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.dl {
   padding-top: 50%;
}